@model SearchViewModel
@{
    Layout = "_ResultsLayout";
}

@*<div id="tt-pageContent">*@
<div class="container-indent-04">
    <div class="container">
        <div class="tt-block-title tt-sub-pages">
            <h1 class="tt-title">Inventory</h1>
            <div class="tt-description">Results:</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 leftColumn tt-aside02" id="aside-js">
                <div class="tt-wrapper-aside">
                    <div class="tt-label-aside">
                        <a href="#" class="tt-btn-col-close"><i class="icon-close"></i></a>
                        <div class="tt-icon">
                            <i class="icon-carsearch"></i>
                        </div>
                        <div class="tt-title">
                            Search Our <br>Inventory
                        </div>
                    </div>
                    <div class="tt-aside-box">
                        <div class="tt-content">
                            <form method="Get" asp-controller="Search" asp-action="Result">
                                <div id="tt-filters-aside" class="tt-filters-aside">
                                    <div class="tt-col-select">
                                        <div class="tt-item">
                                            <label asp-for="YearOfManufactureMin" class="control-label"></label>
                                            <select asp-for="YearOfManufactureMin" asp-items="@Model.AvailableYears" class="tt-row-select tt-form-default tt-skin-01">></select>
                                        </div>
                                        <div class="tt-item">
                                            <label asp-for="ManufacturerId" class="control-label"></label>
                                            <select asp-for="ManufacturerId" asp-items="@Model.AllManufacturers" class="tt-row-select tt-form-default tt-skin-01">
                                                >
                                                <option disabled selected>---Select---</option>
                                            </select>
                                            <label asp-for="ModelName"></label>
                                            @*<select asp-for="ModelName" asp-items="@(new SelectList(string.Empty))" class="form-control"></select>*@
                                            <select asp-for="ModelName" asp-items="@(new SelectList(string.Empty))" class="tt-row-select tt-form-default"></select>

                                        </div>
                                        <div class="tt-item">
                                            <label asp-for="TransmissionTypeId" class="control-label"></label>
                                            <select asp-for="TransmissionTypeId" asp-items="@Model.AllTransmissionTypes" class="tt-select tt-skin-01">
                                                >
                                                <option selected>@GlobalConstants.SearchTermForAllModels</option>
                                            </select>
                                            <label asp-for="FuelTypeId" class="control-label"></label>
                                            <select asp-for="FuelTypeId" asp-items="@Model.AllFuelTypes" class="tt-select tt-skin-01">
                                                >
                                                <option selected>@GlobalConstants.SearchTermForAllModels</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MinPrice" class="control-label"></label>
                                            <input asp-for="MinPrice" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MaxPrice" class="control-label"></label>
                                            <input asp-for="MaxPrice" class="form-control">
                                        </div>
                                    </div>
                                    <div class="tt-col-btn">
                                        @* <a href="" class="btn"><i class="icon-filer"></i><input type="submit" />FILTER</a>*@
                                        <button type="submit" class="btn btn-default">Filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*<div class="tt-wrapper-aside">
                        <div class="tt-aside-box">
                            <h3 class="tt-aside-title">Search</h3>
                            <div class="tt-content">
                                <div class="tt-form-search tt-form-default">
                                    <div class="tt-item">
                                        <input type="text" placeholder="SEARCH">
                                    </div>
                                    <div class="tt-item">
                                        <a href="#" class="btn"><i class="icon-musica-searcher"></i>SEARCH</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="col-md-12 col-lg-9 col-xl-9">
                <div class="tt-filters-options">
                    <div class="tt-btn-toggle" id="tt-btn-toggle-js">
                        <a href="#"></a>
                    </div>
                    <div class="tt-sort tt-col">
                        <div class="tt-sort-total">
                            <strong>@Model.TotalResultCount</strong> RESULTS
                        </div>
                    </div>
                </div>
                <div id="tt-product-listing" class="tt-product-listing row">

                    @foreach (var currentVehicle in @Model.Results)
                    {
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product-02">
                                <div class="tt-image-box">
                                    <a asp-controller="Ad" asp-action="Details" asp-route-id="@currentVehicle.AdId" class="tt-img">
                                        <img src="@currentVehicle.PrimaryPicturePath" style="width:fit-content;height:200px;" />
                                        <span class="tt-label-location">
                                            <span class="tt-label-promo">
                                                Promo Deal!
                                            </span>
                                        </span>
                                        <span class="tt-data">@currentVehicle.TotalMileage</span>
                                    </a>
                                </div>
                                <div class="tt-wrapper-description">
                                    <div class="tt-row-01">
                                        <div class="tt-box-title">
                                            <h2 class="tt-title"><a asp-controller="Ad" asp-action="Details" asp-route-id="@currentVehicle.AdId">@($"{currentVehicle.YearOfProduction} {currentVehicle.ManufacturerName} {currentVehicle.ModelName}")</a></h2>
                                            <div class="tt-description">
                                                Engine: @currentVehicle.Engine
                                            </div>
                                        </div>
                                        <div class="tt-box-price">
                                            <span class="tt-text">Price:</span>
                                            <span class="tt-price">$@currentVehicle.Price</span>
                                        </div>
                                    </div>
                                    <div class="tt-btn">
                                        <a asp-controller="Ad" asp-action="Details" asp-route-id="@currentVehicle.AdId" class="btn btn-default">more info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @{
                    var prevDisabled = !Model.Results.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.Results.HasNextPage ? "disabled" : "";
                    var firstDisabled = Model.Results.PageIndex == 1 ? "disabled" : "";
                    var lastDisabled = Model.Results.TotalPages <= Model.Results.PageIndex ? "disabled" : "";
                }

                @if (Model.Results.Any())
                {

                    <div class="tt-pagination">
                        <a asp-route-pageIndex="1"
                           asp-route-manufacturerId="@Model.ManufacturerId"
                           asp-route-modelName="@Model.ModelName"
                           class="btn btn-default @firstDisabled">
                            First page
                        </a>
                        <a asp-route-pageIndex="@(Model.Results.PageIndex - 1)"
                           asp-route-manufacturerId="@Model.ManufacturerId"
                           asp-route-modelName="@Model.ModelName"
                           class="btn btn-default @prevDisabled">
                            Previous
                        </a>
                        <span class="btn btn-group">
                            @Model.Results.PageIndex
                        </span>
                        <a asp-route-pageIndex="@(Model.Results.PageIndex + 1)"
                           asp-route-manufacturerId="@Model.ManufacturerId"
                           asp-route-modelName="@Model.ModelName"
                           class="btn btn-default @nextDisabled">
                            Next
                        </a>
                        <a asp-route-pageIndex="@(Model.Results.TotalPages)"
                           asp-route-manufacturerId="@Model.ManufacturerId"
                           asp-route-modelName="@Model.ModelName"
                           class="btn btn-default @lastDisabled">
                            Last page
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-indent container-indent-03 tt-mobile-hidden">
        <div class="tt-map">
            <a href="#" class="tt-btn-toggle"></a>
            <div class="tt-box-map">
                <div id="googleMapFooter" class="google-map"></div>
            </div>
        </div>
    </div>
</div>
<a href="#" id="ttBackToTop" class="tt-back-to-top">BACK TO TOP</a>

<partial name="_ValidationScriptsPartial" />

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            var url = '/Vehicle/Vehicle/GetModelsByManufacturerId';
            var ddlSourse = "#ManufacturerId";
            $.getJSON(url,
                { manufacturerId: $(ddlSourse).val() },
                function(data) {
                    var items = '';
                    $('#ModelName').empty();
                    $.each(data,
                        function(i, vehModel) {
                            var vehicleCurrentModel = '@Model.ModelName';
                            var selected = vehicleCurrentModel === vehModel.text ? " selected" : "";
                            items += "<option" + selected + ">" + vehModel.text + "</option>";
                        });
                    $('#ModelName').html(items);
                });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ManufacturerId').on('change',
                function () {
                    var url = '/Vehicle/Vehicle/GetModelsByManufacturerId';
                    var ddlSourse = "#ManufacturerId";
                    $.getJSON(url,
                        { manufacturerId: $(ddlSourse).val() },
                        function (data) {
                            var items = '<li data-value="--- All ---" class="option disabled">--- All ---</li>';
                            var items2 = "<option>--- All ---</option>";
                            $('#ModelName').next('div').find('ul').empty();
                            for (var i = 0; i < data.length; i++) {
                                var item =
                                    `<li data-value="${data[i].text}" class="option focus">${data[i].text}</li\>`;
                                items += item;
                            }
                            $.each(data,
                                function (i, vehModel) {
                                    items2 += "<option>" + vehModel.text + "</option>";
                                });
                            $('#ModelName').next('div').find('ul').html(items);
                            $('#ModelName').html(items2);
                        });
                });
        });
    </script>
}