@model AdCreateViewModel

<div class=" text-justify text-md-center">
    <div class="modal-body modal-layout-dafault">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h1 class="modal-title">Add your Item</h1>
        <p class="tt-default-color02">
            Trading in your current car can help serve as a springboard into your new one. One of our team members will be in touch with a quote for your trade in right away.
        </p>
        <form class="tt-form-default02" method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h6 class="tt-title">Vehicle Info</h6>
            <div class="form-group tt-row-select tt-form-default tt-filters-aside" id="tt-filters-aside">
                <select asp-for="YearOfProduction" asp-items="@Model.AvailableYears" class="tt-row-select tt-form-default tt-skin-01">
                    <option disabled selected>Select a year</option>
                </select>
                <select asp-for="ManufacturerId" asp-items="@Model.AllManufacturers" class="tt-row-select tt-form-default">
                    <option disabled selected>Select a Make</option>
                </select>
                <select asp-for="ModelName" asp-items="@(new SelectList(string.Empty))" class="tt-row-select tt-skin-01">
                    <option disabled selected>Select a Model</option>
                </select>
                <select asp-for="FuelTypeId" asp-items="@Model.AllFuelTypes" class="tt-row-select tt-form-default tt-skin-01">
                    <option disabled selected>Select Fuel Type</option>
                </select>
                <select asp-for="TransmissionTypeId" asp-items="@Model.AllTransmissionTypes" class="tt-row-select tt-form-default tt-skin-01">
                    <option disabled selected>Select Transmission</option>
                </select>
                <div class="form-group">
                    <span asp-validation-for="TotalMileage" class="text-danger"></span>
                    <input value="" asp-for="TotalMileage" class="form-control" placeholder="Mileage">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Engine" class="text-danger"></span>
                    <input placeholder="Engine model etc." asp-for="Engine" class="form-control" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="EngineHorsePower" class="text-danger"></span>
                    <input placeholder="Engine HorsePower" value="" asp-for="EngineHorsePower" class="form-control" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="FuelConsumption" class="text-danger"></span>
                    <input asp-for="FuelConsumption" value="" placeholder="Fuel Consumption" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Price" class="text-danger"></span>
                    <input asp-for="Price" value="" class="form-control" placeholder="Price" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Phone">
                </div>
            </div>
            <div class="form-group">
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
            </div>
            <div>
                <h5>Features</h5>
                    <div class="d-flex flex-wrap">
                        @for (int i = 0; i < @Model.AllFeatures.Count; i++)
                        {
                            <div class="d-inline-flex col-4">
                                @Html.CheckBoxFor(m => m.AllFeatures[i].IsChecked, new { @class = "mx-2 my-auto"})
                                <label asp-for="@Model.AllFeatures[i].IsChecked">@Model.AllFeatures[i].Name</label>
                                @Html.HiddenFor(m => m.AllFeatures[i].Id)
                                @Html.HiddenFor(m => m.AllFeatures[i].Name)
                            </div>
                        }
                    </div>
            </div>
            <h6 class="tt-title text-left">Upload your car Photos</h6>
            <div class="input-group tt-input-file">
                <label class="input-group-btn">
                    <span class="tt-btn-icon">
                        choose file... <input type="file" name="pictures" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" readonly>
            </div>
            <button type="submit" class="btn">Add your vehicle</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/manufacturer-models-loader.js"></script>
}